html/*
attic/*
/.project
/.cproject
/.pydevproject
/.externalToolBuilders
/.settings
.directory
.depend
generated*
sysroots
bitbake-logs
src/imgsrv.o
src/imgsrv

all_sources.lst
excluding.lst
including.lst

doxygen.tag
/image
/scripts
/html